* {
    margin: 0;
    padding: 0;
}

.body-container {
    width: 80vh;
    margin: 0 auto;
}

.header-container {
    margin-top: 3vh;
    margin-bottom: 3vh;
    display: flex;
    justify-content: space-between;
    background-color: blueviolet;
}

.lista-container {
    /*background-color: aqua;*/
    display: inline;
}

.list {
   
}